/* Tổng thể trang */
body {
  background-color: white;
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
}

/* Thanh menu */
table {
  width: 100%;
  background-color: lightblue;
  border-collapse: collapse;
  text-align: center;
}
h1{
    background-color:lightgray ;
    border-collapse: collapse;
    height: 250px;
}
h2{
  font-family: "Brush Script MT", cursive; /* kiểu chữ uốn lượn */
  font-size: 36px;                        /* cỡ chữ */
  font-style: italic;                     /* chữ nghiêng */
  color: darkblue;                        /* màu xanh tím */
   background-color:lightgray ;
  text-align: center;                     /* căn giữa */
  padding: 20px;                          /* tạo khoảng cách */
  margin: 0;
}
p1{
    background-color: yellow;
     margin-bottom: 20px;
}
h3{
    background-color: lightgray;
}



